.menubar{
  float: right;
}

.mainpic{
  border-radius: 50%;
  text-align: left;
}

.workpic{
  border-radius: 50%;
}

.paragraph{
  text-align: center;
  width:390px;
  height: auto;
  font-size: 15px;
  font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #DB2B71;
    color: #DB2B71;
    margin: 1em 0;
    padding: 0;
}

.workfont{
  text-align: center;
  font-size: 45px;
  font-style: italic;
}

.ctitlefont{
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

.ctextfont{
  text-align: center;
  font-weight: lighter;
}

.trackrec{
  width: 100%;
  height: auto;
}

.contacttext{
  float: left;
  text-align: left;
}

.contactfont{
  font-size: 45px;
}

.contactpic{
  margin-top: 30px;
  float: right;
}
