<body>
  {% include 'Base.html' %}
  <div class="container">
  <div class="workfont">
    <p>Input your Schedule!</p>
  </div>
  <hr>
    <div class="form-group">
      <form id="form" method="POST" action="{% url 'saveschedule' %}">
	        	{% csrf_token %}
	          {{ saveschedule }}
            <br>
            <center><input type="submit" class="btn btn-primary" value="submit"></center>
      </form>
    </div>
  </div>
</body>
