<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'story4/stylestory3.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block link %}{% endblock %}
    <title>Story#-Base</title>
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DB2B71">
          <a class="navbar-brand">KAK PEWE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item {{home}}">
                <a class="nav-link" href="homepage">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {{workpage}}">
                <a class="nav-link" href="workpage">Work Page</a>
              </li>
              <li class="nav-item {{trackrecord}}">
                <a class="nav-link" href="trackrecord">Track Record</a>
              </li>
              <li class="nav-item {{contactme}}">
                <a class="nav-link" href="contactme">Contact Me</a>
              </li>
              <li class="nav-item {{registeraccount}}">
                <a class="nav-link" href="registeraccount">Register Account</a>
              </li>
              <li class="nav-item {{addsch}} {{schedule}}">
                <a class="nav-link" href="addschedule">Add Schedule</a>
              </li>
              <li class="nav-item {{schresult}} {{schedule}}">
                <a class="nav-link" href="scheduleresult">Schedule Result</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
