
  <body>
    {% include 'Base.html' %}
      <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <p class="contactfont">Contact Me</p>
        <hr>
          <a class="contactfont" href="https://www.facebook.com/">Facebook</a>
          <br>
          <a class="contactfont" href="https://www.instagram.com/faizsoemawilaga/">Instagram</a>
          <br>
          <a class="contactfont" href="https://line.me/en/">LINE</a>
          <br>
          <a class="contactfont" href="https://www.whatsapp.com/">Whatsapp</a>
          <br>
          <a class="contactfont" href="https://mail.google.com/mail/u/0/#inbox">Email</a>
        </div>
        <div class="col">
          <br>
          <br>
          <center><img class="workpic" src="https://i.imgur.com/vEqe5A8.jpg?1" width="300px" height="300px"></center>
          <br>
          <center><p class="paragraph">-Faiz Fadhillah Soemawilaga-</p></center>
          <center><p class="paragraph">Information System 2017</p></center>
          <br>
          <br>
        </div>
      </div>
    </div>
  </body>
