
  <body>
    {% include 'Base.html' %}
      <div class="container">
        <div class="row">
          <div class="col">
            <br>
            <center><img class="mainpic" src="https://i.imgur.com/zy5GbW9.jpg" width="300px" height="300px"></center>
          </div>
          <div class="col">
            <br>
            <center><p class="paragraph">"I am a 3rd semester student majoring in Information Systems Faculty of Computer Science UI. I have a passion to become an entrepreneur. Therefore, I studied Information System at the Faculty of Computer Science UI to achieve my passion of being an entrepreneur and to make my parents proud. I have a variety of skills to help me succeed later on, including being able to use the Python programming language, and being able to adapt to many circumstances so that the event can run well, I am also a reliable person in carrying out my duties, and I am a person that have good time management."</p></center>
            <br>
            <center><p class="paragraph">-Faiz Fadhillah Soemawilaga-</p></center>
            <center><p class="paragraph">Information System 2017</p></center>
          </div>
        </div>
      </div>
    </div>
  </body>
