
  <body>
    {% include 'Base.html' %}
      <div class="container">
      <div class="workfont">
        <p>Register your Account!</p>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="exampleDateType">Birth Date</label>
          <input type="date" class="form-control" placeholder="dd/mm/yy">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Username</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password Confirmation</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password again">
        </div>
        <center><button type="submit" class="btn btn-primary">submit</button></center>
      </form>
    </div>
  </body>
