<body>
{% include 'Base.html' %}
<div class="container">
<div class="workfont">
  <p>Schedule</p>
</div>
<hr>
<table class="table">
        <thead>
            <th>Day</th>
            <th>Date</th>
            <th>Event</th>
            <th>Location</th>
            <th>Category</th>
        </thead>
        <tbody>
            {% for i in schedule %}
                <td> {{i.day}} </td>
                <td> {{i.date}} </td>
                <td> {{i.event}} </td>
                <td> {{i.location}} </td>
                <td> {{i.category}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <center><a href="emptyschedule" class="btn btn-primary">delete</a></center>
  </div>
  </body>
