
  <body>
    {% include 'Base.html' %}
      <div class="container">
      <div>
        <br>
        <center><img class="workpic" src="https://i.imgur.com/PMo5IU9.jpg?2" width="300px" height="300px"></center>
      </div>
      <div class="container">
      <br>
      <hr>
      <div class="container workfont">
        <p>My Work Experience</p>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title ctitlefont">Controller DPM Fasilkom UI</h5>
            <br>
            <p class="card-text ctextfont">Control DPM Fasilkom UI finances. Working together with Dana for other DPM Fasilkom UI divisions.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title ctitlefont">Chatbot Invasion COMPFEST</h5>
            <p class="card-text ctextfont">Checking the participants chatbot creations and make sure they are worthy enough to be checked by the judges. Contacting judges and mentors from LINE for the competition.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title ctitlefont">Sponsorship CGT</h5>
            <br>
            <p class="card-text ctextfont">Contacting corporations and promoting about CGT Fasilkom UI. Creating new contacts and more.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
